
#outer{
    margin: 20px;
    text-align: center;
}


#instruct{
    margin: 0px 20px;
    text-align: center;
}

#resultContainer {    
    height: 100px;
    background-color: #BBBBBB;
    margin: 20px;
    font-color: #000000;
    text-align: center;
}

#result{
   line-height: 70px;
   font-size: 50px;
}

#rword{  
    max-width: 120px;
}

.smallContainer{
    margin-top: 15px;    
}

